@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif , Cabinet-Grotesk;
}

.login-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #F2482D; /* orange like your image */
  font-family: 'Cabinet-Grotesk' ,'Comic Sans MS', 'Comic Sans', cursive; /* similar font style */

  /* single shadow (down-right) just like your image */
  text-shadow: 3px 3px 0px #000000;
}

